html
{
    scroll-behavior: smooth;
}

.category-list ul li a
{
    text-decoration: none;
} 

.news-list
{
    display: flex;
    flex-direction: column;
}

.news-list .nav-tabs
{
    margin-bottom: 2%;
}

.news-list .news
{
    width: 80%;
    margin: auto;
}

.news-list .news .card-header
{
    text-align: center;
}

.news-list .news .card-title
{
    text-align: center;
}

.news-list .news img
{
    display: block;
    width: 300px;
    height: 220px;
    margin: auto;
    box-shadow: 1px 2px 15px 3px;
}

.news-list .news .card-text
{
    margin-top: 15px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.news-list .news .card-footer
{
    text-align: center;
}

.forum-form form
{
    width: 50%;
    margin: auto;
}

.forum-form form label
{
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.forum-form form textarea
{
    resize: none;
    height: 150px;
}

.forum-form form .button-form
{
    text-align: center;
}

.forum-form img
{
    display: block;
    margin: auto;
    box-shadow: 1px 0px 5px 3px;
    margin-bottom: 2%;
}

.forum-form form .button-form button
{
    width: 50%;
}

.jumbotron
{
    background-color: white;
}

footer
{
    background-color: #3E3F3A;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul
{
    display: flex;
    padding: 0;
    margin: 0.5%;
    width: 50%;
}

footer ul li 
{
    list-style-type: none;
    margin-left: 1%;
}


.forum-table td
{
    background-color: rgb(238, 251, 255);
}

.table-hover .table-light:hover, .table-hover .table-light:hover>th, .table-hover .table-light:hover>td
{
    background-color:  rgb(238, 251, 255);
}

.pagination
{
    display: flex;
    justify-content: center;
}

.pagination > span
{
    border: 1px solid gray;
    background-color: #F8F5F0;
    padding: 0.5% 1.0%;
}

.archive_list td
{
    background-color: rgb(238, 251, 255);
}

.list-group-item-action:hover
{
    background-color: transparent;
}

#Back_To_Menu
{
    width: 100%;
    position: fixed;
    color: red;
    z-index: 1;
    font-size: xx-large;
    margin-left: 95%;
    margin-top: 30%;
}

#Moderation-Title
{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#Archives_Delete 
{
    text-align: center;
}

#Archives_Delete h1
{
    border-bottom: 1px solid black;
    width: 25%;
    margin: auto;
    margin-bottom: 3%;
}

.bg-light
{
    background-color: #6fa5ff1a !important;
}


@media all and (max-width : 900px)
{
    .news-list .card-header h1
    {
        font-size: 1.8em;
    }
    .news-list .card-title
    {
        font-size: 1.2em;
    }
    .news-list .news img
    {
        display: block;
        width: 45vw;
        height: 25vw;
        margin: auto;
        box-shadow: 1px 2px 15px 3px;
    }

    thead
    {
        display: none;
    }

    .forum-table, .archive-table
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .forum-table td a
    {
        font-size: 2.0em;
    }
    .archive-table
    {
        display: flex;
        flex-direction: column;
    }
    .archive-table td
    {
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }
    .archive-table td a
    {
        font-size: 1.0em;
    }

    .pagination > span
    {
        border: 1px solid gray;
        background-color: #F8F5F0;
        padding: 2.0% 4.0%;
    }

    .forum-form form
    {
        width: 100%;
    }

    .forum-form img
    {
        width: 75%;
    }


    #Moderation-Title h1
    {
        font-size: 2.0em;
    }

    .forum-table td
    {
        background-color: rgb(255, 255, 255);
    }

    .table-light th, .table-light td, .table-light thead th, .table-light tbody+tbody
    {
        border-color: white;
    }

    .table-hover .table-light:hover, .table-hover .table-light:hover>th, .table-hover .table-light:hover>td
    {
        background-color:  rgb(255, 255, 255);
    }

    #Back_To_Menu
    {
        width: 100%;
        position: fixed;
        color: red;
        z-index: 1;
        font-size: xx-large;
        margin-left: 95%;
        margin-top: 80%;
    }

    footer
    {
        background-color: #3E3F3A;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    footer ul
    {
        display: flex;
        padding: 0;
        margin: 1.0%;
        width: 50%;
    }

    footer ul li a
    {

        font-size: 1.5em;
    }

    .table
    {
        margin-bottom: 7%;
    }

    .archive_list td
    {
        background-color: rgb(255, 255, 255);
    }

    #Archives_Delete 
    {
        text-align: center;
    }

    #Archives_Delete h1
    {
        border-bottom: 1px solid black;
        width: 100%;
        margin: auto;
        margin-bottom: 3%;
    }
}