{% extends "base.html.twig" %}

{% block body %}

<section id="Archive">
    <ul>
        {% for article in news %}
            <li> <a href=" {{ article.address }}"> {{ article.address}} </a></li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
