{% extends "base.html.twig"%}

{% block menu %}
    <li><a href="{{ path("security_registration") }}"> Inscription </a></li>
    <li><a href="{{ path("security_connexion") }}"> Connexion </a></li>
{% endblock %}

{% block body %}

<h1>{{ comment.Title}}</h1>
<h2>{{ comment.createdAt | date("h/m/Y") }}</h2>
{% endblock %}