{% extends 'base.html.twig' %}

{% block body %}

<section id="Slider">
    <figure>
        <img src="{{ asset('images/background.jpg')  }}" alt="Background"/>
        <figcaption>    
            <h1> Actualités </h1> 
        </figcaption>
    </figure>
</section>
<section id="News"> 
    <div id="Article_Box">
    </div>
</section>

{% endblock %}