<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=ys"/>
        <title> News </title>
        <link rel="stylesheet" href="{{ asset('css/style.css?v=1') }}"/>
    </head>
    <body>
        <header>
            <h1> <a href="/" id="Icon"> Actualités & Informations </a> </h1>
        </header>
        <nav>
            <ul>
                {% block menu %}{% endblock %}
                <li> <a href="/forum?data=data"> Forum </a></li>
                <li>
                    <a href="/" id="Actualité"> Actualités </a>
                    <ul> 
                        <li><i class="fas fa-long-arrow-alt-right"></i> </li>
                        <li> <a href="/" id="Sport"> Sport </a> </li> 
                        <li> <a href="/" id="Divertissement"> Divertissement </a> </li>
                        <li> <a href="/" id="Santé"> Santé </a>   </li>
                        <li> <a href="/" id="Science"> Sciences </a>  </li>
                        <li> <a href="/" id="Technologie"> Technology </a>   </li>
                    </ul>
                </li>   
            </ul>
        </nav>
        {% block body %} {% endblock %}

        <footer>
            <ul>
                <li><a href="/archive"> Archives </a></li>
            </ul>
        </footer>

    </body>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a89d872ece.js" crossorigin="anonymous"></script> <!-- font awesome script-->
    <script src=" {{ asset('js/NewsManager.js')}}"></script>
</html>